#音声ファイル
*.m4a
*.ogg
*.png
*.psd

#隠れwindows設定を無視
desktop.ini

# エディタ用の無視設定
/.vscode/

#セーブデータ
/save/

#デバッグ用の一時ファイル
/debug/

#その他リソース
*.json
*.webm
*.css
*.ttf
*.otf
*.png
*.jpg
*.ogg
*.mp4
*.wav

!/audio/**/*.ogg
!/data/**/*.json
!/img/**/*.png
!/fonts/*.css
!/fonts/*.ttf
!/fonts/*.otf
!/icon/*.png
!/movies/*.mp4
!/movies/*.webm
!/movies/**/*.mp4
!/movies/**/*.webm

#メインのスクリプト
!/js/libs/
!/js/rpg_core.js
!/js/rpg_managers.js
!/js/rpg_objects.js
!/js/rpg_scenes.js
!/js/rpg_sprites.js
!/js/rpg_windows.js

#コミット対象のプラグインを指定
!/js/pluguins/*.js